<?xml version="1.0"?>

<launch>

  <include file="$(find pandora_launchers)/remote_machines/machine/rpi2.machine" />

  <arg name="namespace" default="raspicam"/>

  <arg name="hfov" default="53.50" />
  <arg name="vfov" default="41.41" />
  <arg name="width" default="1280" />
  <arg name="height" default="720" />
  <arg name="fps" default="30" />
  <arg name="camera_id" default="front" />
  <arg name="optical_frame" default="/$(arg camera_id)_picam_optical_frame" />
  <arg name="rpi2_id" default="rpi2_primary" />

  <node
    machine="$(arg rpi2_id)"
    name="raspicam_$(arg camera_id)"
    pkg="raspicam"
    type="raspicam_node" >
  
    <param name="width" value="$(arg width)" />
    <param name="height" value="$(arg height)" />
    <param name="framerate" value="$(arg fps)" />
    <param name="quality" value="100" />
    <param name="tf_prefix" value="$(arg optical_frame)" />
    <param name="published_topics/image_topic" value="/$(arg rpi2_id)/pi_camera_$(arg camera_id)/image" />
    <param name="published_topics/camera_info" value="/$(arg rpi2_id)/camera_info" />
    <param name="advertised_services/start_capture" value="/raspicam/start_capture" />
    <param name="advertised_services/stop_capture" value="/raspicam/stop_capture" />
    <param name="start_capturing" value="True" />
  </node>


  <param name="$(arg optical_frame)/hfov" value="$(arg hfov)" />
  <param name="$(arg optical_frame)/vfov" value="$(arg vfov)" />

</launch>
