<launch>
	
	<!-- Slam -->
	<include file="$(find pandora_slam)/launch/pandora_slam_2d_simulation.launch" />
	<include file="$(find pandora_pose_estimation)/launch/pose_estimation_5_dof.launch" />

	<!-- Navigation -->
<!--
	<include file="$(find pandora_navigation)/launch/autonomous_navigation.launch" />
-->
	
	<!-- Visualization -->
	<include file="$(find pandora_visualization)/launch/visualization.launch" />
	
	<!-- Fusion -->
<!--
	<include file="$(find data_fusion)/launch/data_fusion.launch" />
-->
	
<!--
	<node name="state_changer" type="state_changer" pkg="state_manager" args="2"/>
-->
	
</launch>
