<launch>

  <!--############################ Arguments ################################-->

  <arg name="description" default="true" />
  <arg name="motors" default="true" />
  <arg name="dynamixel" default="true" />
  <arg name="imu" default="true" />
  <arg name="laser" default="true" />
  <arg name="camera" default="true" />
  <arg name="stabilizer" default="true" />
  <arg name="state_manager" default="true" />
  <arg name="slam" default="true" />
  <arg name="cmd_vel_mux" default="true" />
  <arg name="navigation" default="true" />
  <arg name="cmd_topic" default="cmd_vel" />
  <arg name="exploration" default="true" />
  <arg name="state" default="0" />

  <!-- move base arguments -->
  <arg name="global_planner" default="navfn" />
  <arg name="local_planner" default="teb" />

  <!--######################### Node Launchers ##############################-->

  <!-- robot description -->
  <group if="$(arg description)">
    <include file="$(find pandora_robots_description)/monstertruck/launch/monstertruck_description.launch" />
  </group>

  <!-- hardware -->
  <group if="$(arg motors)">
    <include file="$(find pandora_monstertruck_hardware_interface)/monstertruck_hardware_interface/launch/monstertruck_hardware_interface_and_controllers.launch" />
  </group>
  <group if="$(arg dynamixel)">
    <include file="$(find pandora_dynamixel_hardware_interface)/launch/dynamixel_hardware_interface_and_controllers.launch">
      <arg name="kinect" value="false" />
    </include>
  </group>
  <group if="$(arg imu)">
    <include file="$(find pandora_imu_hardware_interface)/imu_hardware_interface/launch/imu_hardware_interface_and_controllers.launch" />
  </group>
  <group if="$(arg laser)">
    <include file="$(find pandora_slam_2d)/launch/pandora_hokuyo_04lx.launch" />
  </group>
  <group if="$(arg camera)">
    <node name="libuvc_camera_node" pkg="libuvc_camera" type="camera_node">
      <param name="width" value="160" />
      <param name="height" value="120" />
    </node>
  </group>

  <!-- launch pandora laser stabilizer node -->
  <group if="$(arg stabilizer)">
    <include file="$(find pandora_stabilizer)/launch/stabilizer_control.launch" />
  </group>

  <!-- common -->
  <group if="$(arg state_manager)" >
    <include file="$(find state_manager)/launch/stateManager.launch" />
  </group>

  <!-- slam -->
  <group if="$(arg slam)">
    <!-- launch pandora_slam node -->
    <include file="$(find pandora_slam_2d)/launch/pandora_slam_2d.launch">
      <arg name="robot" value="monstertruck" />
    </include>

    <!-- launch pandora_pose_estimation node -->
    <include file="$(find pandora_pose_estimation)/launch/pose_estimation_5_dof.launch" />
  </group>


  <!-- launch cmd_vel multiplexer -->
  <group if="$(arg cmd_vel_mux)">
    <include file="$(find pandora_cmd_vel_mux)/launch/cmd_vel_mux.launch" />
  </group>

  <!-- navigation -->
  <group if="$(arg navigation)">
    <group unless="$(arg cmd_vel_mux)">
      <include file="$(find pandora_monstertruck_2dnav)/launch/move_base.launch">
        <arg name="cmd_topic" value="$(arg cmd_topic)" />
        <arg name="global" value="$(arg global_planner)" />
        <arg name="local" value="$(arg local_planner)" />
      </include>
    </group>
    <group if="$(arg cmd_vel_mux)">
      <include file="$(find pandora_monstertruck_2dnav)/launch/move_base.launch">
        <arg name="cmd_topic" value="navigation/cmd_vel" />
        <arg name="global" value="$(arg global_planner)" />
        <arg name="local" value="$(arg local_planner)" />
      </include>
    </group>
  </group>

  <group if="$(arg exploration)">
    <include file="$(find pandora_monstertruck_2dnav)/launch/pandora_exploration.launch" />
  </group>

  <!-- State Changer -->
  <node name="state_changer" pkg="state_manager" type="state_changer" args="$(arg state)" />

</launch>
