<launch>

<!-- ############################## Arguments ###############################-->
  <arg name="robot" value="monstertruck" />

  <arg name="gazebo" default="false" />
  <arg name="gui" default="false" />
  <arg name="map" default="testbed" />
  <arg name="stabilizer" default="true" />
  <arg name="state_manager" default="true" />
  <arg name="slam" default="true" />
  <arg name="gmapping" default="false" />
  <arg name="cmd_vel_mux" default="true" />
  <arg name="navigation" default="true" />
  <arg name="pandora_exploration" default="true" />
  <arg name="rviz" default="true"/>
  <arg name="state" default="0" />

  <!-- move base args -->
  <arg name="local_planner" default="teb" />
  <arg name="global_planner" default="navfn" />
  <arg name="cmd_topic" default="cmd_vel" />

<!-- ############################# Nodes ################################### -->

  <!-- launch gazebo -->
  <group if="$(arg gazebo)">
    <include file="$(find pandora_gazebo_worlds)/launch/$(arg map).launch">
      <arg name="robot" value="$(arg robot)" />
      <arg name="gui" value="$(arg gui)" />
    </include>
  </group>

  <!-- spawn robot_description -->
  <group unless="$(arg gazebo)">
    <include file="$(find pandora_robots_description)/$(arg robot)/launch/$(arg robot)_description.launch"/>
  </group>

  <!-- State manager -->
  <group if="$(arg state_manager)">
    <include file="$(find state_manager)/launch/stateManager.launch" />
  </group>

  <!-- Control -->
  <group if="$(arg stabilizer)">
    <include file="$(find pandora_stabilizer)/launch/stabilizer_control.launch" />
  </group>

  <!-- Slam -->
  <group if="$(arg slam)">
    <group unless="$(arg gmapping)">
      <include file="$(find pandora_slam_2d)/launch/pandora_slam_2d.launch">
        <arg name="robot" value="$(arg robot)" />
      </include>
    </group>
    <group if="$(arg gmapping)">
      <include file="$(find pandora_monstertruck_2dnav)/launch/gmapping.launch" />
    </group>
    <include file="$(find pandora_pose_estimation)/launch/pose_estimation_5_dof.launch" />
  </group>

  <!-- cmd_vel multiplexer -->
  <group if="$(arg cmd_vel_mux)">
    <include file="$(find pandora_cmd_vel_mux)/launch/cmd_vel_mux.launch" />
  </group>

  <!-- Navigation -->
  <group if="$(arg navigation)">
    <group unless="$(arg cmd_vel_mux)">
      <include file="$(find pandora_monstertruck_2dnav)/launch/move_base.launch">
        <arg name="local" default="$(arg local_planner)" />
        <arg name="global" default="$(arg global_planner)" />
        <arg name="cmd_topic" default="$(arg cmd_topic)" />
        <arg name="slam" default="$(arg slam)" />
        <arg name="gmapping" default="$(arg gmapping)" />
      </include>
    </group>
    <group if="$(arg cmd_vel_mux)">
      <include file="$(find pandora_monstertruck_2dnav)/launch/move_base.launch">
        <arg name="local" default="$(arg local_planner)" />
        <arg name="global" default="$(arg global_planner)" />
        <arg name="cmd_topic" default="navigation/cmd_vel" />
        <arg name="slam" default="$(arg slam)" />
        <arg name="gmapping" default="$(arg gmapping)" />
      </include>
    </group>
  </group>

  <!-- launch pandora_exploration node -->
  <group if="$(arg pandora_exploration)">
    <include file="$(find pandora_monstertruck_2dnav)/launch/pandora_exploration.launch" />
  </group>

  <!-- Visualization -->
  <group if="$(arg rviz)">
    <include if="$(arg rviz)" file="$(find pandora_monstertruck_2dnav)/launch/rviz.launch" />
  </group>

  <!-- State Changer -->
  <node name="state_changer" pkg="state_manager" type="state_changer" args="$(arg state)" />

</launch>
