<launch>
	
	<!--State Manager -->	
	<include file="$(find state_manager)/launch/stateManager.launch" /> 

	<!---Diagnostics-->
	<include file="$(find diagnostics)/launch/computerDiagnostics.launch" />

	<!--Static Transforms-->
	<include file="$(find pandora_robot)/launch/parameterServerValues/staticTransforms.launch" /> 		
	
	<!--Autonomous Mode SLAM Launch -->
	<include file="$(find slam)/launch/slam_with_wrappers.launch" /> 
  
	<!--Autonomous Navigation Launch -->
	<include file="$(find pandora_navigation)/launch/autonomous_navigation.launch" /> 
	
	<!--Data fusion -->
	<include file="$(find data_fusion)/launch/data_fusion.launch" />
	
	<!--Controllers & sensors-->
	<include file="$(find controllers_and_sensors)/launch/u_controller_launch.launch" />

	<!--Main motor control-->
<!--
	<include file="$(find main_motor_control)/launch/main_motors_with_joystick.launch" />
-->
	<include file="$(find main_motor_control)/launch/main_motors_autonomous.launch" />
		
	<!--Vision-->  
	<include file="$(find vision)/launch/all_nodes.launch" />			
	<!--Stereo-->  
<!--
	<include file="$(find stereo_ps3)/launch/stereo_hole_finder_node.launch" />				
-->
		
	<!--Robotic Arm Launch -->
	<include file="$(find robotic_arm)/launch/roboticArmLaunch.launch" />

	<node name="bag" type="record" pkg="rosbag" args="/vision/image/compressed /slam/slamMapMsg" /> 
	
</launch>
